<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизація</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/register.css' %}">
</head>
<body>
    <form action="" method="POST" onsubmit="submitForm()">
        {% csrf_token %}
        <input type="text" name="email" placeholder="Електронна пошта" value="{{email}}">
        <input type="password" name="password" placeholder="Пароль">
        {% if error %}
            <p class="error">{{error}}</p>
        {% endif %}
        <button>Вхід</button>
        <a href="/register">В мене ще немає аккаунту</a>
    </form>
</body>
</html>